<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net48" />
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.1.94" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Toolkit" version="7.1.2" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Parsers" version="6.1.1" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Uwp.UI.Controls" version="7.1.2" targetFramework="net48" />
</packages>